[submodule "API/src/maof"]
	path = API/src/maof
	url = https://bitbucket.org/lorenzinigiovanni/maof

[submodule "ros2_ws/src/rosbridge_suite"]
	path = ros2_ws/src/rosbridge_suite
	url = https://github.com/lorenzinigiovanni/rosbridge_suite
