<nb-card accent="primary">
  <nb-card-header>
    <div class="row">
      <div class="col-6">Tasks</div>
      <div class="col-6 text-right">
        <button nbButton status="primary" (click)="onRefresh()">
          <nb-icon icon="refresh-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th class="text-center">Progress</th>
          <th class="text-center">Robot</th>
          <th class="text-center">Goal set</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks | async">
          <td class="align-middle">{{task.status | lrEnum}}</td>
          <td class="align-middle">
            <nb-progress-bar value="{{100 * task.completedGoals.length / task.goals.length}}"
              status="{{task.status === 'completed' ? 'success' : task.status === 'cancelled' ? 'danger' : 'primary'}}"></nb-progress-bar>
          </td>
          <td class="align-middle text-center">{{task.robot?.name ? task.robot.name : 'None'}}</td>
          <td class="align-middle text-center">
            <div *ngFor="let goal of task.goals">{{goal.name}}</div>
          </td>
          <td class="align-middle text-center">
            <button nbButton ghost status="danger" (click)="onCancel(task.ID)"
              *ngIf="task.status != 'completed' && task.status != 'cancelled'">
              <nb-icon icon="slash-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
