<nb-card accent="primary">
  <nb-card-header>
    <div class="row">
      <div class="col-6">Tasks</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th class="text-center">Progress</th>
          <th class="text-center">Robot</th>
          <th class="text-center">Goal set</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks | async">
          <td class="align-middle">{{task.status | lrEnum}}</td>
          <td class="align-middle">
            <nb-progress-bar value="{{100 * task.completedGoals.length / task.goals.length}}"
              status="{{task.completedGoals.length === task.goals.length ? 'success' : 'primary'}}"></nb-progress-bar>
          </td>
          <td class="align-middle text-center">{{task.robot?.name ? task.robot.name : 'None'}}</td>
          <td class="align-middle text-center">
            <div *ngFor="let goal of task.goals">{{goal.name}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
