<nb-card accent="primary">
  <nb-card-header>
    <div class="row">
      <div class="col-6">Tasks</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th class="text-center">Robot</th>
          <th class="text-center">Initial position</th>
          <th class="text-center">Current position</th>
          <th class="text-center">Goal set</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks | async">
          <td class="align-middle">status</td>
          <td *ngIf="task.robot==undefined; else elseBlock" class="align-middle text-center">None</td>
          <td #elseBlock class="align-middle text-center">{{task.robot.name}}</td>
          <td class="align-middle text-center">init(x,y)</td>
          <td class="align-middle text-center">current(x,y)</td>
          <td class="align-middle text-center">
            <div *ngFor="let taskRoom of task.taskToRooms">{{taskRoom.room.name}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
