<nb-card accent="primary">
  <nb-card-header>
    Algorithm
  </nb-card-header>
  <nb-card-body>

    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit(settingsForm.value)">

      <div class="row">
        <div class="form-group col-6">
          <label class="label">MAPF Algorithm type</label>
          <nb-select fullWidth name="inputMAPFAlgorithm" formControlName="MAPFalgorithm"
            [status]="(settingsForm.controls.MAPFalgorithm.invalid) ? 'danger' : 'basic'">
            <nb-option value="A*">A*</nb-option>
            <nb-option value="A*+ID">A*+ID</nb-option>
            <nb-option value="A*+OD">A*+OD</nb-option>
            <nb-option value="A*+ID+OD">A*+ID+OD</nb-option>
            <nb-option value="CP">CP</nb-option>
            <nb-option value="CBS">CBS</nb-option>
            <nb-option value="ICTS">ICTS</nb-option>
          </nb-select>
        </div>
        <div class="form-group col-6">
          <label class="label">Cost function</label>
          <nb-select fullWidth name="inputCostFunction" formControlName="costFunction"
            [status]="(settingsForm.controls.costFunction.invalid) ? 'danger' : 'basic'">
            <nb-option value="MKS">MKS</nb-option>
            <nb-option value="SIC">SIC</nb-option>
          </nb-select>
        </div>
        <div class="form-group col-6">
          <label class="label">SAPF Algorithm type</label>
          <nb-select fullWidth name="inputSAPFAlgorithm" formControlName="SAPFalgorithm"
            [status]="(settingsForm.controls.SAPFalgorithm.invalid) ? 'danger' : 'basic'">
            <nb-option value="A*">A*</nb-option>
            <nb-option value="ST">ST</nb-option>
            <nb-option value="TDSP">TDSP</nb-option>
          </nb-select>
        </div>
        <div class="form-group col-6" *ngIf="settingsForm.value.SAPFalgorithm == 'A*'">
          <label class="label">Heuristic</label>
          <nb-select fullWidth name="inputHeuristic" formControlName="heuristic"
            [status]="(settingsForm.controls.heuristic.invalid) ? 'danger' : 'basic'">
            <nb-option value="MANHATTAN">MANHATTAN</nb-option>
            <nb-option value="EUCLIDEAN">EUCLIDEAN</nb-option>
          </nb-select>
        </div>
      </div>

    </form>

  </nb-card-body>
</nb-card>

<nb-card accent="primary">
  <nb-card-header>
    Robot
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit(settingsForm.value)">
      <div class="form-group row">
        <label for="robotRadius" class="label col-sm-3 col-form-label">Robot radius [m]</label>
        <div class="col-sm-9">
          <input type="number" nbInput fullWidth id="robotRadius" placeholder="0" formControlName="robotRadius" min="0"
            max="1000" step="0.01" [status]="settingsForm.controls.robotRadius.invalid ? 'danger' : 'basic'">
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card accent="primary">
  <nb-card-header>
    Map
  </nb-card-header>
  <nb-card-body>

    <div class="form-group row">
      <div class="col-sm-12">
        <nb-alert outline="warning">Save the map settings before uploading the map file</nb-alert>
      </div>
      <label class="label col-sm-3 col-form-label">Map file [png, jpg, jpeg]</label>
      <div class="col-sm-6">
        <input nbInput class="form-control" type="file" accept=".png,.jpg,.jpeg" (change)="onChange($event)" fullWidth>
      </div>
      <div class="col-sm-3">
        <button nbButton fullWidth (click)="onUpload()" status="primary" [disabled]="!enabled_upload_button || loading"
          [nbSpinner]="loading" nbSpinnerStatus="primary">
          Upload
        </button>
      </div>
    </div>

    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit(settingsForm.value)">
      <div class="form-group row">
        <label for="discretizationDistance" class="label col-sm-3 col-form-label">Discretization distance [m]</label>
        <div class="col-sm-9">
          <input type="number" nbInput fullWidth id="discretizationDistance" placeholder="1"
            formControlName="discretizationDistance" min="0.01" max="10" step="0.01"
            [status]="settingsForm.controls.discretizationDistance.invalid ? 'danger' : 'basic'">
        </div>
      </div>
      <div class="form-group row">
        <label for="doorSize" class="label col-sm-3 col-form-label">Door size [m]</label>
        <div class="col-sm-9">
          <input type="number" nbInput fullWidth id="doorSize" placeholder="1" formControlName="doorSize" min="0.01"
            max="5" step="0.01" [status]="settingsForm.controls.doorSize.invalid ? 'danger' : 'basic'">
        </div>
      </div>
      <div class="form-group row">
        <label for="meterPerPixel" class="label col-sm-3 col-form-label">Meter per pixel [m/pix]</label>
        <div class="col-sm-9">
          <input type="number" nbInput fullWidth id="meterPerPixel" placeholder="0.0254" formControlName="meterPerPixel"
            min="0.0001" max="10" step="0.01"
            [status]="settingsForm.controls.meterPerPixel.invalid ? 'danger' : 'basic'">
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card accent="primary">
  <nb-card-header>
    Update settings
  </nb-card-header>
  <nb-card-body>
    <div class="form-group row">
      <div class="col-sm-6">
        <button fullWidth nbButton status="danger" (click)="onCancel()">
          <div>Annulla</div>
        </button>
      </div>
      <div class="col-sm-6">
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit(settingsForm.value)">
          <button fullWidth type="submit" nbButton status="success" [disabled]="!settingsForm.valid">
            <div>Salva</div>
          </button>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
