.table {
  color: #ffffff;
  background-color: null;
}

.table-striped {
  tbody tr:nth-of-type(#{$table-striped-order}) {
    background-color: rgba(#ffffff, .05);
  }
}

.table-hover {
  tbody tr {
    @include hover() {
      color: #ffffff;
      background-color: rgba(#ffffff, .075);
    }
  }
}

.table-hover>tbody>tr {
  cursor: pointer;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

svg>polyline[id]:hover {
  cursor: pointer !important;
  fill: #ffaa00 !important;
}

svg>polyline.selected {
  fill: #00d68f;
}

#tooltip {
  position: absolute;
}

nb-tooltip {
  pointer-events: none;
}

.mapcontainer {
  position: relative;
}

.mapcontainer>.robots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}
