<?xml version="1.0"?>

<model>
  <name>Povo 1 and Povo 2 First floor</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>My name</name>
    <email>name@email.address</email>
  </author>

  <description>
    First floor of Povo 1 and Povo 2 connected by the "tunnel" in between
  </description>
</model> 
